<div style="width: 300px; font-size: 18px; float: left; margin-top: 30px">
  <div style="color: #888888; direction: rtl">
    <div style="margin: 8px" (click)="dataTableService.selected = undefined">
      <b *ngIf="dataTableService.selected === undefined; else elseBlock">
        Alle
      </b>
      <ng-template #elseBlock>
        Alle
      </ng-template>
    </div>
    <div *ngFor="let category of dataTableService.categories">
      <div name="cate" style="margin: 8px" (click)="dataTableService.selected = category">
        <b *ngIf="dataTableService.selected == category; else elseBlock">
          {{category.name}}
        </b>
        <ng-template #elseBlock>
          {{category.name}}
        </ng-template>
      </div>
    </div>
  </div>
</div>
